<nav class="nav-header">
    <div class="logo">
    <img src="/assets/logo.jpg">
    </div>
    
    <div class="name">
    <h1>LikeLion StackFlow</h1>
    </div>
    
    <div class="sign_out">
    <%= current_user.email %>
    <%= link_to 'sign out',  destroy_user_session_path, method: :delete %>
    </div>
</nav>

<section class="nav_left col-md-3">
    
     
        <ul>
            <li><i class="fa fa-diamond" aria-hidden="true"></i> ruby</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> html</li>
            <li><i class="fa fa-television" aria-hidden="true"></i> css</li>
            <li><i class="fa fa-align-left" aria-hidden="true"></i> js</li>
        </ul>
</section>