.post-btn{
    align-items: right;
    
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #181818;
}

.footer_content{
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  color: #FFF;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}