<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <link href="/assets/choi.css" rel="stylesheet">

     <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>


      <!--<link rel="stylesheet" href="/assets/login.css">-->
    <script type="text/javascript" src="/assets/choi.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
